fastapi==0.115.12
uvicorn==0.34.3
numpy==1.26.4
pandas==2.3.0
joblib==1.5.1
scikit-learn==1.7.0
python-multipart==0.0.20
pydantic==2.11.5
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
starlette==0.46.2
typing_extensions==4.13.2

# Added for Auth0 JWT verification and Supabase writes
python-jose[cryptography]
supabase